
@import 'base';

// dP                         oo
// 88
// 88d888b. .d8888b. .d8888b. dP .d8888b.
// 88'  `88 88'  `88 Y8ooooo. 88 88'  `""
// 88.  .88 88.  .88       88 88 88.  ...
// 88Y8888' `88888P8 `88888P' dP `88888P'

body {
  padding: 0;
}

table {
  margin-top: 0.75em;
  &.highlighttable {
    // margin-bottom: 0.75em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  a {
    text-decoration: none;
  }
  @include dark-links();
}

a {
  font-weight: bold;
  text-decoration: none;
  &:active, &:hover, &:focus {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: none;
  }
}

a.top {
  text-decoration: none;
  &:active,
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

div.top {
  padding-bottom: $medium-value;
}

// 88d8b.d8b. .d8888b. 88d888b. dP    dP .d8888b.
// 88'`88'`88 88ooood8 88'  `88 88    88 Y8ooooo.
// 88  88  88 88.  ... 88    88 88.  .88       88
// dP  dP  dP `88888P' dP    dP `88888P' `88888P'

.header {
  margin-bottom: $medium-value;
  // padding-top: $large-value;
  padding-top: $medium-value;

  div.logo {
  }

  h1 {
    font-size: $h4-size;
    margin: $small-value 0;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
}

.social,
.submenu,
.mainmenu {
  @include dark-links();
  a {
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active {
      span {
        text-decoration: underline;
      }
    }

    img {
      @include prefix(opacity, .5);
    }
  }
}

// from MAIN_MENU in pelicanconf.py
.mainmenu {
  ul {
    padding: 0;
    border: 0;
    list-style: none;
    li {
      display: inline-block;
      border-right: 1px solid $base-color;
      padding-left: $small-value;
      padding-right: $small-value;

      a {
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
}

// Blog posts/categories/tags/archives
.submenu {
  border-bottom: 1px solid $border-color-light;
  border-top: 1px solid $border-color-light;
  font-size: $small-font-size;
  font-weight: bold;
  padding-bottom: $medium-plus-value;
  padding-top: $medium-plus-value;
  text-align: center;
  text-transform: uppercase;

  a {
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-right: 1px solid $base-color;
      display: inline-block;
      padding-left: $small-value;
      padding-right: $small-value;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

.social {
  font-size: $smallish-font-size;
  ul {
    list-style: none;
    margin: 0;
    margin-bottom: $small-plus-value;
    padding: 0;

    li {
      // border-right: 1px solid $border-color-dark;
      display: inline-block;
      line-height: 2;
      padding-left: $small-value;
      padding-right: $small-value;

      a {

        @include prefix(opacity, .7);
        img {
          display: inline-block;
          padding-right: $tiny-value;
        }

        &:active,
        &:hover {

          @include prefix(opacity, 1);

          span {
            text-decoration: none;
          }

          img {
            @include prefix(opacity, 1);
          }
        }
      }

      &:first-child {
        padding-left: none;
      }

      &:last-child {
        padding-right: none;
        border-right: none;
      }
    }
  }
}


//                              dP                       dP
//                              88                       88
// .d8888b. .d8888b. 88d888b. d8888P .d8888b. 88d888b. d8888P
// 88'  `"" 88'  `88 88'  `88   88   88ooood8 88'  `88   88
// 88.  ... 88.  .88 88    88   88   88.  ... 88    88   88
// `88888P' `88888P' dP    dP   dP   `88888P' dP    dP   dP

#content {
  // border: 1px dashed orange;
  padding: 0;
  // padding-top: $medium-value;
  // padding-bottom: $medium-plus-value;
  > article {
    // padding-top: $medium-value;
    padding-bottom: $medium-plus-value;
    padding-left: $small-value;
    padding-right: 0;
  }
}

//   dP
//   88
// d8888P .d8888b. .d8888b.
//   88   88'  `88 88'  `""
//   88   88.  .88 88.  ...
//   dP   `88888P' `88888P'

.toc-wrapper {
  display: none;
  margin: 0 0 $large-value $large-value;
  width: 250px;
  // max-width: 250px;
  // border: 1px dotted green;
  // margin-left: $medium-value;
  border-left: 1px solid $border-color-light;
  font-size: $smallish-font-size;
  padding-left: $large-value;
  padding-bottom: $large-value;
  position: relative;
  z-index: 1;

  &.visible {
    display: block;
  }

  h1 {
    font-size: $h6-size;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: $small-plus-value;
    }

    a {
    text-decoration: none;

      &:active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#toc-toggle {
  // display: inline-block;
  text-align: center;
  // border: 1px dashed orange;
  width: 40px;
  padding-top: $medium-plus-value;
  // position: absolute;
  // top: $extra-large-value * 4 + $medium-plus-value;
  // right: $small-value;
  // z-index: 9999;
}

nav.toc {
  padding-top: $medium-plus-value;
}

.paginator {
  // border: 1px dashed green;
  padding: $medium-value $small-value;
  div {
    // border: 1px dotted orange;
  }
  .previous {
    // text-align: left;
  }
  .next {
    // text-align: right;
  }
}

//                     dP   oo          dP
//                     88               88
// .d8888b. 88d888b. d8888P dP .d8888b. 88 .d8888b. .d8888b.
// 88'  `88 88'  `88   88   88 88'  `"" 88 88ooood8 Y8ooooo.
// 88.  .88 88         88   88 88.  ... 88 88.  ...       88
// `88888P8 dP         dP   dP `88888P' dP `88888P' `88888P'

#content > article > div > header {
  padding-top: $medium-value;
}

.article-wrapper {

  >* {
    padding-left: $small-value;
    padding-right: $small-value;
  }

  a.top {
    font-weight: bold;
    padding-bottom: $medium-value;
  }
}

article {
  display: block;

  header {
    max-width: $small-plus-screen;
    h1, h2 {
      // border: 1px dotted green;
      // margin-bottom: 0;
      // padding: 0;
      // margin: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    // border-bottom: 1px solid $border-color-light;
  }

  hr {
    clear: none;
  }
  .body {
    max-width: $small-plus-screen;
  }

  footer {
    // border: 1px dotted pink;
    padding: $medium-value 0 0 0;
  }
}


#featured {
  // border: 1px dotted red;
  padding-bottom: $medium-value;
  margin-bottom: $medium-value;
}

.post-info {
  font-size: $smallish-font-size;
  max-width: $small-plus-screen;
  // border: 1px dotted orange;
  // border-top: 1px solid $border-color-light;
  padding-bottom: $small-plus-value;
  padding-top: $tiny-value;
  address {
    display: inline;
    font-style: normal;
  }
  .taglist {
    display: inline-block;
  }
}

a.arrow,
a.more {
  color: $base-color;
  text-decoration: none;
  &:hover, &:focus, &:active, &:visited {
    color: $base-color;
  }
  span {
    color: $base-color-link;
    text-decoration: underline;
  }
  &:visited {
    span {
      color: $base-color-link-visited;
    }
  }
  &:hover {
    span { color: $base-color-link-hover;
    }
  }
}


//   dP
//   88
// d8888P .d8888b. .d8888b. .d8888b.
//   88   88'  `88 88'  `88 Y8ooooo.
//   88   88.  .88 88.  .88       88
//   dP   `88888P8 `8888P88 `88888P'
//                      .88
//                  d8888P

.taglist {
  // border: 1px dotted green;
  // display: inline-block;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    // a {
    //   font-size: $smallish-font-size;
    //   display: inline-block;
    //   padding: 0 $tiny-value;
    //   // border: 1px solid $primary-color;
    //   // background-color: $primary-color;
    //   border: 1px solid $tag-color-2;
    //   background-color: $tag-color-2;
    //   color: $tag-color-1;
    //   @include border-radius(4px, 4px);
    //   text-decoration: none;
    //   &:hover {
    //     background-color: $tag-color-1;
    //     color: $tag-color-2;
    //   }
    // }
    margin: 0 2px;
    a {
      font-weight: bold;
      // font-size: 1em;
      color: $base-color-link;
      text-decoration: none;
      &:hover, &:active, &:focus, &:visited {
        color: $base-color-link;
      }
    }
  }
}


//                              dP      dP oo            dP
//                              88      88               88
// 88d888b. .d8888b. .d8888b. d8888P    88 dP .d8888b. d8888P
// 88'  `88 88'  `88 Y8ooooo.   88      88 88 Y8ooooo.   88
// 88.  .88 88.  .88       88   88      88 88       88   88
// 88Y888P' `88888P' `88888P'   dP      dP dP `88888P'   dP
// 88
// dP

.posts-wrapper {
  // padding-top: $medium-value;
  h1 {
    // border: 1px dotted red;
    // margin: 0;
    padding-top: $medium-value;
    padding-left: $small-value;
  }
}

.posts-list {
  list-style: none;
  // border: 1px solid green;
  padding: 0;
  article {
    .body {
      // margin-left: $medium-plus-value;
      // font-style: italic;
      font-size: 90%;
      div.hilite {
        display: none;
      }
    }
  }
  &>li {
    border-top: 1px solid $border-color-light;
    margin-top: $medium-value;
    padding: $medium-value $small-value $medium-plus-value $small-value;
    // padding-bottom: $medium-plus-value;
    // padding-left: $small-value;
    &:last-child {
      // padding-bottom: 0;
      border-bottom: 1px solid $border-color-light;
    }
  }
  h1 { font-size: $h2-size; }
  h2 { font-size: $h3-size; }
  h3 { font-size: $h4-size; }
  h4 { font-size: $h5-size; }
  h5 { font-size: $h6-size; }
}

// .8888b                     dP
// 88   "                     88
// 88aaa  .d8888b. .d8888b. d8888P .d8888b. 88d888b.
// 88     88'  `88 88'  `88   88   88ooood8 88'  `88
// 88     88.  .88 88.  .88   88   88.  ... 88
// dP     `88888P' `88888P'   dP   `88888P' dP

#footer {
  border-top: 1px solid $border-color-light;
  padding-top: $medium-value;
  padding-bottom: $medium-value;
  color: $tertiary-color;
  font-size: $smallish-font-size;
}

//                         dP             dP       dP                   dP
//                         88             88       88                   88
// .d8888b. .d8888b. .d888b88 .d8888b.    88d888b. 88 .d8888b. .d8888b. 88  .dP  .d8888b.
// 88'  `"" 88'  `88 88'  `88 88ooood8    88'  `88 88 88'  `88 88'  `"" 88888"   Y8ooooo.
// 88.  ... 88.  .88 88.  .88 88.  ...    88.  .88 88 88.  .88 88.  ... 88  `8b.       88
// `88888P' `88888P' `88888P8 `88888P'    88Y8888' dP `88888P' `88888P' dP   `YP `88888P'

.hilite {
  overflow-x: auto;
  width: 100%;
  border: 1px dotted #ccc;
  padding: 0;
  // background-color: #3f3f3f;
  margin-top: 0.75em;
}

table.highlighttable {
  // border: 1px dotted orange;
  // width: 100%;

  // div.code {
  //   overflow: auto;
  // }
  border: none;
  margin: 0;

  td.code {
    width: 100%;
  }

  td.linenos,
  td.code {
    padding: $tiny-plus-value;
    border: none;
    // background-color: #002B36;
  }
  td.linenos {
    // border-right: 1px solid rgba(86, 110, 113, .25);
    border-right: 1px dotted #ccc;
  }
}

.linenos {
  color: $border-color-dark;
  min-width: 2em;
  text-align: right;
  @include prefix(user-select, none);
  vertical-align: top;
  width: 3.5em;
}

.highlight,
.linenodiv {
  font-size: $code-font-size;
  font-family: $font-stack-monospace;
}

.highlight {
  border: none;
  pre, code {
    // background: none;
  }
  pre {
    overflow: auto;
    white-space: pre;

    // * {
    //   white-space: pre;
    // }
    // Override Pygments comments
    .c, .cb, .cp, .c1, .cs {
      // font-style: normal;
    }
  }
}


//                           dP oo
//                           88
// 88d8b.d8b. .d8888b. .d888b88 dP dP    dP 88d8b.d8b.
// 88'`88'`88 88ooood8 88'  `88 88 88    88 88'`88'`88
// 88  88  88 88.  ... 88.  .88 88 88.  .88 88  88  88
// dP  dP  dP `88888P' `88888P8 dP `88888P' dP  dP  dP

@media (min-width: $small-plus-screen+1) {
  .article-wrapper {

    >* {
      padding-left: $medium-value;
      padding-right: $medium-value;
    }
  }
}

// dP
// 88
// 88 .d8888b. 88d888b. .d8888b. .d8888b.
// 88 88'  `88 88'  `88 88'  `88 88ooood8
// 88 88.  .88 88       88.  .88 88.  ...
// dP `88888P8 dP       `8888P88 `88888P'
//                           .88
//                       d8888P

@media (min-width: $medium-screen+1) {
  .header {
    width: 250px;
    padding-left: $medium-value;
    padding-right: $large-value;
    padding-top: $medium-value;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    // border: 1px dashed pink;
  }

  #toc-toggle {
    // position: absolute;
    // top: $extra-large-value + $medium-value;
    // right: $large-value;
  }

  .article-wrapper {

    padding-left: 250px !important;
    border: none;

    >* {
      padding-left: $large-value;
      padding-right: $large-value;
      border-left: 1px solid $border-color-light;
    }
  }


  .paginator {
    padding-left: $large-value;
    padding-right: $large-value;
  }

  .posts-list > li,
  .posts-wrapper h1 {
    padding-left: $large-value;
    padding-right: $large-value;
  }

  #content {
    > article {
      // padding-top: $medium-value;
      // padding-bottom: $medium-plus-value;
      padding-left: $large-value;
      padding-right: 0;
      // padding-right: $large-value;
      // border-left: 1px solid $border-color-light;
    }
  }

  .social {
      padding-top: $tiny-value;
      padding-bottom: $small-plus-value;
      margin: 0;
      // border: 1px dotted green;
    ul {
      padding: 0;

      li {
        border-right: 0;
        padding-left: $small-value;
        // display: block;
        // line-height: 2.5;
        // padding: 0;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .article-wrapper {
    // border-left: 1px solid $border-color-light;
  }

  .submenu {
    border-top: 0;
    // padding-left: $small-plus-value;
    text-align: left;
  }

  .mainmenu {
    ul {
      li {
        display: block;
        border-right: none;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
  //                   dP
//                   88
// dP.  .dP          88 .d8888b. 88d888b. .d8888b. .d8888b.
//  `8bd8'  88888888 88 88'  `88 88'  `88 88'  `88 88ooood8
//  .d88b.           88 88.  .88 88       88.  .88 88.  ...
// dP'  `dP          dP `88888P8 dP       `8888P88 `88888P'
//                                             .88
//                                         d8888P

@media (min-width: $large-screen) {
  .toc-wrapper {
    display: block;
  }
  #toc-toggle {
    display: none;
  }
  // article {
  //     max-width: 1100px;
  //   .body {
  //     max-width: 768px;
  //   }
  // }

// @media (min-width: $large-screen+1) {
//   article {
//       max-width: 1100px;
//     .body {
//       max-width: 768px;
//     }
//   }
// }
}