[submodule "public"]
	path = public
	url = git@github.com:deanishe/deanishe.github.io
	branch = master
[submodule "themes/alabastard"]
	path = themes/alabastard
	url = git@github.com:deanishe/alabastard
