
@import "knacss";
@import "hilite";

body {
	padding: 0;
}

/*

88d8b.d8b. .d8888b. 88d888b. dP    dP .d8888b.
88'`88'`88 88ooood8 88'  `88 88    88 Y8ooooo.
88  88  88 88.  ... 88    88 88.  .88       88
dP  dP  dP `88888P' dP    dP `88888P' `88888P'

*/

header.header {
	margin-bottom: $medium-value;
	padding-top: $large-value;
	// border: 1px dotted green;
	div.logo {
	}
	h1 {
		padding: 0;
		margin: $small-value 0;
		font-size: $h3-size;
	}
}

nav.mainmenu,
div#submenu {
	a {
		font-weight: bold;
		text-decoration: none;
		&:hover,
		&:active {
			span {
				text-decoration: underline;
			}
		}
		img {
			opacity: .25;
			-webkit-opacity: .25;
			-moz-opacity: .25;
			-ms-opacity: .25;
		}
	}
}

div#submenu {
	text-align: center;
	padding-top: $medium-plus-value;
	padding-bottom: $medium-plus-value;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	text-transform: uppercase;
	font-size: $small-font-size;
	font-weight: bold;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding-left: $small-value;
			padding-right: $small-value;
			border-right: 1px solid $base-color;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border-right: none;
				padding-right: 0;
			}
		}
	}
}

nav.mainmenu {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: $small-plus-value;
		li {
			line-height: 2;
			display: inline-block;
			padding-left: $small-plus-value;
			padding-right: $small-plus-value;
			border-right: 1px solid $border-color-dark;
			a>img {
				display: inline-block;
				padding-right: $tiny-value;
			}
			&:first-child {
				padding-left: none;
			}
			&:last-child {
				padding-right: none;
				border-right: none;
			}
		}
	}
}

/*
                             dP                       dP
                             88                       88
.d8888b. .d8888b. 88d888b. d8888P .d8888b. 88d888b. d8888P
88'  `"" 88'  `88 88'  `88   88   88ooood8 88'  `88   88
88.  ... 88.  .88 88    88   88   88.  ... 88    88   88
`88888P' `88888P' dP    dP   dP   `88888P' dP    dP   dP

*/

div.article-wrapper {
	&>* {
		padding-left: $medium-value;
		padding-right: $medium-value;
	}
}

article {
	padding-top: $small-plus-value;
}

/*
nav#mainmenu {
	ul {
		list-style: none;
		padding: 0;
		li {
			// Submenus
			ul {
				padding-left: $small-value;
			}
		}
	}
}
*/

/*
                        dP             dP       dP                   dP
                        88             88       88                   88
.d8888b. .d8888b. .d888b88 .d8888b.    88d888b. 88 .d8888b. .d8888b. 88  .dP  .d8888b.
88'  `"" 88'  `88 88'  `88 88ooood8    88'  `88 88 88'  `88 88'  `"" 88888"   Y8ooooo.
88.  ... 88.  .88 88.  .88 88.  ...    88.  .88 88 88.  .88 88.  ... 88  `8b.       88
`88888P' `88888P' `88888P8 `88888P'    88Y8888' dP `88888P' `88888P' dP   `YP `88888P'

*/

table.highlighttable {
	td.linenos,
	td.code {
		padding: $tiny-plus-value;
	}
}

td.linenos {
	color: $border-color-dark;
	width: 3.5em;
	min-width: 2em;
	text-align: right;
	// padding-left: 1em;
	// padding-right: 1em;
	vertical-align: top;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.highlight {
	pre {
		white-space: pre;
		overflow-x: auto;
		* {
			white-space: nowrap;
		}
	}
}

// div.linenodiv {
// 	display: inline-block;
// 	pre {
// 		display: inline-block;
// 	}
// }

/*

dP
88
88 .d8888b. 88d888b. .d8888b. .d8888b.
88 88'  `88 88'  `88 88'  `88 88ooood8
88 88.  .88 88       88.  .88 88.  ...
dP `88888P8 dP       `8888P88 `88888P'
                          .88
                      d8888P

*/

@media (min-width: $medium-screen+1) {
	header.header {
		text-align: right;
		padding-right: $large-value;
		padding-top: $medium-value;
		padding-left: $medium-value;
	}
	nav.mainmenu {
		ul {
			padding: 0;
			li {
				line-height: 2.5;
				padding: 0;
				display: block;
				border-right: 0;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	div.article-wrapper {
		border-left: 1px solid $border-color;
	}
	div#submenu {
		text-align: left;
		border-top: 0;
		padding-left: $small-plus-value;
	}
	article {
		padding-left: $small-plus-value;
		max-width: 768px;
	}
}