<aside class="post-info mod">
	<span class="published" title="{{ article.date.isoformat() }}">
		{{ article.locale_date }}
	</span>
	{% if article.modified %}
	<span class="modified" title="{{ article.modified.isoformat() }}">
		(updated: {{ article.locale_modified }})
	</span>
	{% endif %}

	{% if SHOW_AUTHOR and article.authors %}
	<address class="vcard author">
		by {% for author in article.authors %}
			<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
		{% endfor %}
	</address>
	{% endif %}
	<span class="category">in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
	<span class="taglist fr">
		{% include '_taglist.html' %}
	</span>
</aside><!-- /.post-info -->
