{% if DEFAULT_PAGINATION %}

{% import '_components.html' as components %}

<div class="paginator row">
    {% if page_name == 'index' %}
        {% set page_name = '' %}
    {% endif %}
    <div class="previous col wauto txtleft">
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            {{ components.arrow_link('previous', '{}/{}'.format(SITEURL, page_name), left=True) }}
        {% else %}
            {{ components.arrow_link('previous', '{}/{}index{}.html'.format(SITEURL, page_name, articles_page.previous_page_number()), left=True) }}
        {% endif %}
    {% endif %}
    </div>
    <div class="col wauto txtcenter">
        {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    </div>
    <div class="next col wauto txtright">
        {% if articles_page.has_next() %}
            {{ components.arrow_link('next', '{}/{}index{}.html'.format(SITEURL, page_name, articles_page.next_page_number())) }}
        {% endif %}
    </div>
</div>

{% endif %}
