{% import '_components.html' as components %}

<ul class="posts-list">
{% for article in articles_page.object_list %}
    <li>
        <article class="entry">
            <header>
                <h2>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                {% include '_article_info.html' %}
            </header>

            <div class="body">

                {{ article.summary }}

                {# {% include 'taglist.html' %} #}
            </div><!-- /.body -->
            <footer>
                {{ components.read_more_link(SITEURL + '/' + article.url) }}
            </footer>
        </article>
    </li>
    {% if loop.last %}
        {% if loop.length > 1 or articles_page.has_other_pages() %}
            </ul><!-- /#posts-list -->
            {% if articles_page.has_other_pages() %}
                {% include '_pagination.html' %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<!-- /div#wrap -->
