<aside class="post-info mod">
	<div class="published fl" title="{{ article.date.isoformat() }}">
		{{ article.locale_date }}
	</div>
	{% if article.modified %}
	<div class="modified fl" title="{{ article.modified.isoformat() }}">
		(updated: {{ article.locale_modified }})
	</div>
	{% endif %}

	{% if SHOW_AUTHOR and article.authors %}
	<address class="vcard author fl">
		by {% for author in article.authors %}
			<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
		{% endfor %}
	</address>
	{% endif %}
	<div class="category fl">in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></div>
	<div class="taglist fr mod">
		{% include 'taglist.html' %}
	</div>
</aside><!-- /.post-info -->
