{% extends "base.html" %}
{% block title %}{{ article.title }} // {{ SITENAME }}{%endblock%}

{% block content %}
<article class="">
	<div id="toc-toggle" class="fr">
		[<a href="#" onClick="toggleToc(); return false">TOC</a>]
	</div>
	<div id="toc-wrapper" class="toc-wrapper fr">
		<nav class="toc">
			<a href="#top" class="top">^ <span>Top</span></a>
			{{ article.toc }}
		</nav>
	</div>

	<div class="mod">
		<header>
			<h1 class="">{{ article.title }}</h1>
		</header>

		<div class="body">
			{% include '_article_info.html' %}

			{{ article.content }}

		</div>
	</div>

	<footer></footer>
	<script type="text/javascript">
	function toggleClass(elemId, className) {
		var e = document.getElementById(elemId);
		if ( e === null ) {
			console.log('ERROR No element found for `' + elemId + '`');
			return
		}
		var c = e.className;
		// console.log(c);
		var rx = new RegExp('(?:^|\\s)' + className + '(?!\\S)');
		if ( c.match(rx) ) {
			e.className = c.replace(rx, '');
		} else {
			e.className += ' ' + className;
		}
		console.log(e.className);
	}
	function toggleToc() {
		var c ='visible';
		toggleClass('toc-wrapper', c);
		toggleClass('toc-toggle', c);
	}
	</script>
</article>
{% endblock %}
