{% extends "base.html" %}
{% block title %}{{ article.title }} // {{ SITENAME }}{%endblock%}

{% block content %}
<article class="flex-container">

	<div class="flex-item-fluid">
		<header>
			<h1 class="">{{ article.title }}</h1>
		</header>

		<div class="body">
			{% include '_article_info.html' %}

			{{ article.content }}

		</div>
	</div>
	<div id="toc-wrapper" class="toc-wrapper w250p">
		<nav class="toc">
			<a href="#top" class="top">^ <span>Top</span></a>
			{{ article.toc }}
		</nav>
	</div>
	<div id="toc-toggle" class="">
		<a href="#" onClick="toggleToc(); return false">
			<img src="{{ SITEURL }}/theme/images/toc.png" alt="TOC">
		</a>
	</div>
</article>

<script type="text/javascript">
function toggleClass(elemId, className) {
	var e = document.getElementById(elemId);
	if ( e === null ) {
		console.log('ERROR No element found for `' + elemId + '`');
		return
	}
	var c = e.className;
	// console.log(c);
	var rx = new RegExp('(?:^|\\s)' + className + '(?!\\S)');
	if ( c.match(rx) ) {
		e.className = c.replace(rx, '');
	} else {
		e.className += ' ' + className;
	}
	console.log(e.className);
}
function toggleToc() {
	var c ='visible';
	toggleClass('toc-wrapper', c);
	toggleClass('toc-toggle', c);
}
</script>

{% endblock %}
